body {
    background-image: url('../images/fondo.jpg');
    font-family: sans-serif;
}

#divLogin {
    background-color: rgba(255,255,255,0.2);
    width: 20%;
    height: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5%;
    margin-left: -10%;
    text-align: center;
    padding: 10px 10px;
}

    #divLogin button {
        transition-duration: 0.2s;
        border-radius: 5px;
        padding: 10px 10px;
        border: none;
        font-size: 16px;
        background-color: darkblue;
        color: white;
    }

    #divLogin input {
        width: 100%;
    }

    #divLogin table {
        color: white;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
    }

        #divLogin table tr td {
            padding: 3px 5px;
        }


/**********************************/


header {
    background-color: rgba(255,255,255,0.2);
        padding: 10px 10px;
}

    header button {
        transition-duration: 0.2s;
        border-radius: 5px;
        padding: 10px 10px;
        border: none;
        font-size: 16px;
        background-color: darkblue;
        color: white;
    }

        header button:hover {
            background-color: white;
            color: darkblue;
        }





/*************************/
#header {
}

.nav > li {
    float: left;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

    .nav li a:hover {
        background-color: #434343;
    }

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

